// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
  display: block;
  position: relative;
  background-color: salmon;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;
  margin-bottom: 20px;
  &-tag{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 2px;
    padding: 2px;
  }
}
